div.brand-generator {
    background: white;
    border: none;
    margin: 0 auto;
    padding: 14px;
    width: 952px;
    
    
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;    
}

div.brand-generator div.title {
    display: none;
}

textarea {
    width: 593px;
    height: 110px;
}

#canvasArea {
    width: 600px;
    height: 500px;
    padding-bottom: 0px;
}

div.colourtype {
    min-height: 4.5em
}